In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Preprocessed_df.csv')

In [4]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,Adelie,Torgersen,44.1,17.3,197.0,4050.0,male
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female

#### Data of Gentoo penguins Species

In [5]:
df[df['species']=='Gentoo']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male
...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,44.1,17.3,197.0,4050.0,male
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male

#### List of 'body_mass_g' of all Gentoo penguins Species

In [6]:
arr=df[df['species']=='Gentoo']['body_mass_g'].values

In [7]:
print(arr)

[ 4500.  5700.  4450.  5700.  5400.  4550.  4800.  5200.  4400.  5150.
  4650.  5550.  4650.  5850.  4200.  5850.  4150.  6300.  4800.  5350.
  5700.  5000.  4400.  5050.  5000.  5100.  4100.  5650.  4600.  5550.
  5250.  4700.  5050.  6050.  5150.  5400.  4950.  5250.  4350.  5350.
  3950.  5700.  4300.  4750.  5550.  4900.  4200.  5400.  5100.  5300.
  4850.  5300.  4400.  5000. 12000.  5050.  4300.  5000.  4450.  5550.
  4200.  5300.  4400.  5650.  4700.  5700.  4650.  5800.  4700.  5550.
  4750.  5000.  5100.  5200.  4700.  5800.  4600.  6000.  4750.  5950.
  4625.  5450.  4725.  5350.  4750.  5600.  4600.  5300.  4875.  5550.
  4950.  5400.  4750.  5650.  4850.  5200.  4925.  4875.  4625.  5250.
  4850.  5600.  4975.  5500.  4725.  5500.  4700.  5500.  4575.  5500.
  5000.  5950.  4650.  5500.  4375.  5850.  4875.  6000.  4925.  4050.
  4850.  5750.  5200.  5400.]

In [8]:
avg_of_body_mass_g=sum(arr)/len(arr)

In [9]:
print(avg_of_body_mass_g)

5125.0